#root {
   max-width: 1600px;
   margin: 0 auto;
   padding: 0 1rem 1rem 1rem;
   width: 100%;
}

.leaflet-container {
   height: 100%;
}

.rca-leaflet-popup .leaflet-popup-content {
   margin: 0px !important;
}
